.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}

.navbarList {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 15px;
}
.navbarItem button {
  border: 1px solid #003585;
  border-radius: 20px;
  background-color: white;
  color: #003585;
  font-size: 17px;
  width: 150px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbarItem button:focus-within {
  background-color: #a7f65c !important;
  color: white !important;
  border: none !important;
  font-weight: 700 !important;
}

.navbarTitle {
  color: #003585;
  font-size: 28px;
}
